.fira-sans-normal {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;}
body {
    width: 90%;
    margin: 0px auto; 
    
}

/* banner-section */

.banner{
    display: flex;
    background-color: #C6E4D6;
    justify-content: space-around;
    gap: 64px;
    height: 560px;
    border-radius: 24px;

}
.banner-description{
    max-width: 620px;
    max-height: 324px;
    padding: 117px 60px ;
    text-align: left;
}
.banner-sub-titel{
    font-size: 24px;
    font-weight:500px ;
    color: #4a4848 ;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}
.bannet-titel{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
}
.btn{
    font-size: 18px ;
    font-weight: 500px;
    color: #FFFFFF;
    padding: 17px 34px ;
    border-radius: 8px ;
    background-color: #006A50;
    border-style: none;}
.banner-img{
    position: center;
    padding: 80px 60px;
}
/* future section */

.future-head{
    font-weight: bold ;
    font-size: 40px ;
    
}
.future-paragrap{
    font-weight: 400;
    font-size: 16px ;
    
}

.future{
    display:flex ;
    gap: 24px;
    margin-top: 32px ;
}
.future-section{
    padding: 32px;
    gap: 24px;
    
    
}
.future img{
    padding: 0px 0px 32px 0px  ;
    margin-top: 0px ;
}
.future-heading{
    font-weight: bold; 
    font-size: 20px;
    color: #0E0E0E;
    margin: 0px ;
    padding: 0px;
}
    
.future-p{
    font-weight: 400;
    font-size: 16px;
    color: #383838;
    
}

.color-1{
    background-color: #8cb4fa;
    border-radius: 16px ;
}
.color-2{
    background-color: #71cba3;
    border-radius: 16px ;
}
.color-3{
    background-color: #c0aa77;
    border-radius: 16px ;
}
.learn-btn-1{
    color: white ;
    background-color: #5490F5;
    padding: 11px 20px ;
    font-size: 16px ;
    border-style: none ;
    border-radius: 8px ;
}
.learn-btn-2{
    color: white ;
    background-color: #09A15C;
    padding: 11px 20px ;
    font-size: 16px ;
    border-style: none ;
    border-radius: 8px ;

}
.learn-btn-3{
    color: white ;
    background-color: #FFC239;
    padding: 11px 20px ;
    font-size: 16px ;
    border-style: none ;
    border-radius: 8px ;

}