.fira-sans-normal {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;}
body {
    width: 90%;
    margin: 0px auto; 
    
}

/* banner-section */

.banner{
    display: flex;
    background-color: #C6E4D6;
    justify-content: space-around;
    gap: 64px;
    height: 560px;
    border-radius: 24px;

}
.banner-description{
    max-width: 620px;
    max-height: 324px;
    padding: 117px 60px ;
    text-align: left;
}
.banner-sub-titel{
    font-size: 24px;
    font-weight:500px ;
    color: #4a4848 ;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}
.bannet-titel{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
}
.btn{
    font-size: 18px ;
    font-weight: 500px;
    color: #FFFFFF;
    padding: 17px 34px ;
    border-radius: 8px ;
    background-color: #006A50;
    border-style: none;}
.banner-img{
    position: center;
    padding: 80px 60px;
}
/* future section */

.future-head{
    font-weight: bold ;
    font-size: 40px ;
    
}
.future-paragrap{
    font-weight: 400;
    font-size: 16px ;
    
}

.future{
    display:flex ;
    gap: 24px;
    margin-top: 32px ;
}
.future-section{
    padding: 32px;
    gap: 24px;
    width: 400px ;
    
    
}
.future img{
    padding: 0px 0px 32px 0px  ;
    margin-top: 0px ;
}
.future-heading{
    font-weight: bold; 
    font-size: 20px;
    color: #0E0E0E;
    margin: 0px ;
    padding: 0px;
}
    
.future-p{
    font-weight: 400;
    font-size: 16px;
    color: #383838;
    
}

.color-1{
    background-color: #8cb4fa;
    border-radius: 16px ;
}
.color-2{
    background-color: #71cba3;
    border-radius: 16px ;
}
.color-3{
    background-color: #c0aa77;
    border-radius: 16px ;
}
.learn-btn-1{
    color: white ;
    background-color: #5490F5;
    padding: 11px 20px ;
    font-size: 16px ;
    border-style: none ;
    border-radius: 8px ;
}
.learn-btn-2{
    color: white ;
    background-color: #09A15C;
    padding: 11px 20px ;
    font-size: 16px ;
    border-style: none ;
    border-radius: 8px ;

}
.learn-btn-3{
    color: white ;
    background-color: #FFC239;
    padding: 11px 20px ;
    font-size: 16px ;
    border-style: none ;
    border-radius: 8px ;

}
/* recent section  */
.recent-heading{
    font-size: 40px ;
    font-weight: bold;
    color: #0E0E0E;
}
.recent-description{
    font-weight: 400;
    font-size: 16px ;
    color: #343333;
}
.recent{
    display: flex ;
    background-color: #FFFFFF;
    border-radius: 24px ;
    padding: 48px ;
    gap: 32px ;
    max-height: 402px ;
    margin-bottom: 24px ;
}
.satelite-img{
    border-radius: 24px ;

}
.box-heading{
    font-size: 32px ;
    font-weight: bold ;
    color: #343232;
    margin: 0px ;
    padding: 0px 0px 12px 0px  ;
}
.date-time{
    font-size: 16px ;
    color:#090909;
   
}
.recent-box .box-description{
    font-size: 16px ;
    color:rgb(40, 38, 38) ;
    padding-bottom: 20px ;
    font-weight: 400 ;
    
}
.read-btn{
    font-size: 18px;
    font-weight: 500;
    color: white;
    padding: 13px 26px ;
    border-radius: 8px ;
    border-style: none ;
    background-color: #006A50;

}
/* donate-section */
.donate-section{
    padding: 20px 80px 20px 80px ;
}
.donate-heading{
    font-size: 40px ;
    font-weight: bold ;
    color: #0E0E0E;
    text-align: center;
}
.donate-p{
    font-size: 16px ;
    font-weight: 400;
    text-align: center;
    color: #383838;
    margin-bottom: 32px ;
}


ul {
    display: flex ;
    justify-content: space-evenly;
    gap: 24px ;

}
ul li{
    list-style: none ;
    
    


}
.btns{
    
    border: none ;
    color: #FFFFFF;
    font-size: 30px ;
    font-weight: bold ;
    color: #090909;
    border-radius: 16px ;
    padding: 30px  ;

}
.btns:hover{
    background: #C6E4D6;
}
/* .li-btn{
    background: #C6E4D6;

} */
.input{
    width: 60%;
    
    margin: 0px auto ;
    text-align: center;
    display: block;
    
}
.donate-btn{
    display: block;
    margin: 0px auto ;
    padding: 17px 34px ;
    background-color: #006A50;
    color: white;
    font-size: 18px ;
    font-weight: 600px ;
    border-radius: 8px ;
    border: none ;

}
/* .btn-div{
    width: 100%;
    display: flex ;
} */
input{
    width: 100%;
    text-align: center;
    border: none ;
    padding: 8px ;
}